/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* Input style */
input {
	border: 1px solid rgb(206, 206, 206);
	border-radius: 3px;
	padding: 5px 7px;
}
/* Ricky Style */
html {
	background: rgba(245, 245, 245, 1);
}

body {
	color: #474747;
	font-family: 'Open Sans', sans-serif;
}
.container {
	width: 100%;
}

.row {
	max-width: 960px;
	min-width: 320px;
	margin: 0 auto;
	padding: 0px 15px;
}

.full {
	width: 100%;
}

.half {
	width:49%;
	float: left;
	margin-right: 2%;
}

.third {
	width: 32%;
	margin-right: 2%;
	float: left;
}
.last {
	margin-right: 0%;
}

/* Header styles  */
.logo {
	text-align: center;
}

.logo img {
	margin-top: 6px;
}
.header {
	height: 60px;
	background-color: #ef9c43;
	color: white;
}

#main-search {
	float: right;
	margin-top: 13px;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	padding: 7px 10px;
	color: #474747;
}

#main-search::active {
	outline: none;
}

/* Dashboard boxes */
.select-option {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
	margin-top: 20px;
	text-align: center;
	border: 2px solid rgb(235, 235, 235);
	border-radius: 5px;
}

.select-option img {
	margin-bottom: 20px;
}

.select-option a {
	text-decoration: none;
	color: rgb(114, 114, 114);
}

/* New Entry style */
.main {
	background: white;
	border: 2px solid rgb(235, 235, 235);
	border-radius: 4px;
	margin-top: 20px;
	padding: 20px;

}

.page-title {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	border-bottom: 1px solid rgb(228, 228, 228);
	line-height: 100%;
}

.form-section-title {
	font-family: 'Open Sans', sans-serif;

}

.single-form {
	margin-bottom: 20px;
}


/* Contact List Style */
.contact-list {
	padding-left: 0px;
}

.contact-list li {
	list-style: none;
	border-bottom: 1px solid rgba(233, 233, 233, 1);
	border-radius: 2px;
	padding: 10px 0px 10px 0px;
	text-transform: capitalize;
}

.contact-list li:first-child {
	padding-top: 0px;
}

.contact-list li:last-child {
	border-bottom: none;
}

.view-link {
	background-color: #19b757;
	color: white;
	padding: 2px 11px;
	border-radius: 3px;
	float: right;
	font-size: 13px;
	text-decoration: none;
}

.delete-link {
	background-color: #19b757;
	color: white;
	padding: 2px 11px;
	border-radius: 3px;
	float: right;
	text-decoration: none;
	margin-left: 10px;
	font-size: 13px;
	}

.social-icon {
	width: 21px;
	height: 100%;
	margin-top: -3px;
	margin-right: 5px;
}

.contact-list-name {
	margin-right: 15px;
}

/* Delete Page */
.delete-data {
	text-align: center;
}
